.center
    form(method="post", onsubmit="getElementsPost(this, '/_updObj/{{objId}}');return false;")
        p {{cap('YEAR')}} 
        input(type="text", name="YEAR", value="{{obj['YEAR']}}", pattern="\d{4}", autofocus=true, onfocus="select(this)")
        p {{cap('DIMS')}}
        .dims
            input(type="text", name="DIM1", value="{{obj['DIM1']}}", pattern="\d+(?:\.\d+)?") 
            |  x
            input(type="text", name="DIM2", value="{{obj['DIM2']}}", pattern="\d+(?:\.\d+)?") 
            |  x
            input(type="text", name="DIM3", value="{{obj['DIM3']}}", pattern="\d+(?:\.\d+)?") 
            |  cm
        p
            {% if obj['VAL'] %}
            input#VAL(type="checkbox", name="VAL", checked=true)
            {% else %}
            input#VAL(type="checkbox", name="VAL", checked=false)
            {% endif %}
            label(for="VAL") {{cap('READY')}} 
        p
            {% if obj['PUB'] %}
            input#PUB(type="checkbox", name="PUB", checked=true)
            {% else %}
            input#PUB(type="checkbox", name="PUB", checked=false)
            {% endif %}
            label(for="PUB") {{cap('PUB WEB')}}
        .buttons 
            button(type="submit") {{cap('SUBMIT')}}
        a(onclick="popup('/_objSelWhat/{{objId}}')") {{cap('WHAT')}}
        a(onclick="popup('/_objWhichTtl/{{objId}}', '{{usrIlc}}')") {{cap('TTL')}}
